{
  "env": {
    "browser": true,
    "jest": true
  },
  "globals": {
    "shallow": true,
    "mount": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "settings": {
    "import/extensions": [".js", ".jsx", ".ts", ".tsx"]
  },
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],

  "rules": {
    "jsx-a11y/anchor-is-valid": "off",
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "import/prefer-default-export": "off",
    "lines-between-class-members": "off",
    "react/prop-types": [0],
    "react/destructuring-assignment": "off",
    "react/static-property-placement": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".tsx", ".ts"] }],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
   ]
  }
}