{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "rules": {
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "react/prop-types": [0]
  }
}